<!doctype html>
<head>
    <title>Hello Azure - Python Django and PostgreSQL Tutorial</title>
</head>
<html>
    <body>
        <main class="container">                
            <h3>There was a problem (500 error) with the sample app.</h3>
            <div>Try the following troubleshooting tips if <strong>running locally</strong>:
              <ul>
                <li>Check that you ran a <a href="https://docs.djangoproject.com/en/4.0/topics/migrations/">migration</a> first with 
                  "python manage.py migrate".
                </li>
                <li>Check that an <em>.env</em> file exists and defines the environment variables DBHOST, DBNAME, DBUSER, and DBPASS.
                </li>
                <li>Check that the database exists in your local PostgresSQL server.                  
                </li>
              </ul>
            </div>                   
            <div>Try the following troubleshooting tips if running in <strong>Azure App Service</strong>:
              <ul>
                <li>Check that you ran a <a href="https://docs.djangoproject.com/en/4.0/topics/migrations/">migration</a> first with 
                  "python manage.py migrate".                  
                </li>
                <li>Check that the environment variables (DBHOST, DBNAME, DBUSER and DBPASS) are defined as 
                  <a href="https://docs.microsoft.com/azure/app-service/configure-common">configuration settings</a>) for the service.
                </li>
                <li>Check that the database referenced in the DBNAME environment exists in the PostgresSQL service.                  
                </li>
              </ul>
            </div>                   
        </main>
    </body>
</html>