{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>Django web app with PostgreSQL in Azure - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
        <link rel="icon"href="{% static 'favicon.ico' %}">
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="{% static 'images/azure-icon.svg' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Azure Restaurant Review
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">                
            <ul class="navbar-nav mb-2 mb-md-0 ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-bs-toggle="dropdown" aria-expanded="true">Azure Docs</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown07XL" data-bs-popper="none">
                        <li><a class="dropdown-item" target="_blank" href="https://docs.microsoft.com/azure">Azure Docs Home</a></li>
                        <li><a class="dropdown-item" target="_blank" href="#">Python Web App + PostgreSQL Database Tutorial</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://azure.microsoft.com/develop/python/">Python on Azure</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://docs.microsoft.com/azure/developer/python">Python on Azure Developer Center</a></li>
                    </ul>
                </li>
            </ul>
          </div>
        </div>
      </nav>

      <main class="container">    
        {% block content %}{% endblock %}
      </main>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>      
</body>
</html>