{% load static %}
<!doctype html>
<head>
    <title>Hello Azure - Python Django and PostgreSQL Tutorial</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <style>
        body {
            min-height: 75rem;
            padding-top: 4.5rem;
        }
    </style>
</head>
<html>
    <body>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
            <div class="container">
              <a class="navbar-brand" href="/">
                <img src="{% static 'images/azure-icon.svg' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Azure Restaurant Review
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">                
                <ul class="navbar-nav mb-2 mb-md-0 ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-bs-toggle="dropdown" aria-expanded="true">Azure Docs</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown07XL" data-bs-popper="none">
                            <li><a class="dropdown-item" target="_blank" href="https://docs.microsft.com/azure">Azure Docs Home</a></li>
                            <li><a class="dropdown-item" target="_blank" href="#">Python Web App + Database Tutorial</a></li>
                            <li><a class="dropdown-item" target="_blank" href="#">Configure Python on Azure</a></li>
                            <li><a class="dropdown-item" target="_blank" href="https://docs.microsft.com/azure/developer/python">Python on Azure Developer Center</a></li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
          </nav>
        <main class="container">                
            <h1>Add New Restaurant</h1>
   
            <form method="POST" action="{% url 'add_restaurant' %}">
                <div class="mb-3">
                  <label for="restaurant_name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="restaurant_name" name="restaurant_name">
                </div>
                <div class="mb-3">
                  <label for="street_address" class="form-label">Street Address</label>
                  <input type="text" class="form-control" id="street_address" name="street_address">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="cancel" class="btn btn-primary">Cancel</button>
              </form>
            

        </main>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>