<section id="friday-night" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Friday Night Welcome</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>
                        Come join us for a few celebratory drinks at a local live music café
                    </dd>
                    <dt>When</dt>
                    <dd>Friday, 24<sup>th</sup> May at 8:00 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Higher Ground<br>
                            <a href="https://maps.app.goo.gl/MWLPnppwZrQ5hQX76">19-19A, Lebuh Leith, George Town, 10200 George Town, Pulau Pinang</a><br>
                            IG: <a href="https://www.instagram.com/higherground.my/">higherground.my</a>
                        </address>

                    </dd>
                    <dt>Attire</dt>
                    <dd>Casual</dd>
                    <dt>Transportation</dt>
                    <dd>Accessible by foot</dd>
                    <dt>Parking</dt>
                    <dd>On-street parking</dd>
                    <dt>Other info</dt>
                    <dd>
                        We are having a simple dinner at the hawker centre across the street <a href="https://maps.app.goo.gl/4Xcnzhw8eJkuumjf6">(Red Garden Food Paradise)</a>. We welcome you to come join us or feel free to explore the other parts of Penang street food - we are a stone's throw away from the famous <a href="https://maps.app.goo.gl/yJsxusogK3DvwWSd6">Chulia Street night hawker</a> and <a href="https://maps.app.goo.gl/PMrnsd1jfentbBB36">Kimberley Street Night Market.</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="saturday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Saturday Ceremony and Reception</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Celebrate our marriage at a vineyard in classic Niagara style</dd>
                    <dt>When</dt>
                    <dd>Saturday, July 2, at 4:15 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Ravine Vineyard<br>
                            <a href="https://goo.gl/maps/dSSnoZGtUyK2">1366 York Rd, St. Davids, ON L0S 1P0, Canada</a><br>
                            Phone: +1 289-868-9627
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Cocktail. Be warned: it is a vineyard, there is grass, and your stilettos may sink deep
                        into it.
                    </dd>
                    <dt>Transportation</dt>
                    <dd>There will be three bus pick up options for guests:
                        <ul>
                            <li><a href="https://goo.gl/maps/5gX1Hwb5syx">White Oaks</a>: <strong>3:30pm</strong>
                            <li><a href="https://goo.gl/maps/o8KTZQg51Mt">Hilton Garden Inn</a>: <strong>3:45pm</strong>
                            <li><a href="https://goo.gl/maps/9KcZQProDN12">Fort George</a> (Downtown Niagara-on-the-Lake): <strong>3:45pm</strong>
                        </ul>
                        Buses will be returning to the hotels and downtown Niagara-on-the-Lake throughout the night.

                    </dd>
                    <dt>Parking</dt>
                    <dd>Parking is available on-site at Ravine</dd>
                    {% comment %}
                    <dt>Afterwards</dt>
                    <dd>
                        Guests wishing to continue celebrating with Cory and Rowena after the reception can
                        head to the <a href="https://goo.gl/maps/a9uGVVQwqBT2">Sandtrap Pub and Grill</a>.
                        Buses will also be dropping off there.
                    </dd>
                    {% endcomment %}
                </dl>
            </div>
        </div>
    </div>
{% comment %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday</h2>
                <hr class="primary">
                <p>
                    Cory and Rowena will be headed to Niagara Falls on Sunday.
                    Anyone who wants to join them is welcome.
                    Details will be coordinated via Whatsapp.
                </p>
            </div>
        </div>
    </div>
{% endcomment %}
</section>
